<div class="mb-4">
  <label for="repair_budget" class="block text-sm font-medium text-gray-700">Estimated Repair Budget*</label>
  <small>Full budget expected to rehab the property.</small>
  <%= form.number_field :repair_budget, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
</div>
