<div class="mb-4">
  <label for="loan_term" class="block text-sm font-medium text-gray-700">Loan Term*</label>
  <small>How many months do you want the loan for (up to 12)?</small>
  <%= form.number_field :loan_term, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", required: true, min: '0', max: '12' %>
  <%= error_messages_for(:loan_term, @loan_request) %>
</div>
