<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= @title || "Document" %></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
  </style>
  <%= wicked_pdf_stylesheet_link_tag "tailwind" %>
</head>
<body class="p-8">
  <%= yield %>
</body>
</html>
